<div class="loan-applicant-form">
  <%= form_with(model: locals[:loan_applicant], local: true) do |f| %>
    <%= f.fields_for :loans do |loan| %>
        <%= loan.hidden_field :id,  value: locals[:loan].id %>
        <%= loan.hidden_field :amount,  value: locals[:loan].amount %>
        <%= loan.hidden_field :installments, value: locals[:loan].installments %>
        <%= loan.hidden_field :accept_terms, value: locals[:loan].accept_terms %>
    <% end %>
    <div class="form-group">
      <label for="">Razão social </label>
      <%= f.text_field :company_name, class:"form-control" %>
    </div>
    <div class="form-group">
      <label for="">CNPJ </label>
      <%= f.text_field :cnpj, class:"form-control" %>
    </div>
    <div class="card form-group">
      <label class="pl-3 pt-3">Telefone </label>
      <div class="card-body" id="phones-list">
        <div class="input-group mb-3" >
          <input class="form-control" type="text" name="loan_applicant[phones][]" id="phone-0">
          <div class="input-group-append">
            <button class="btn btn-outline-success disabled" type="button" id="add-phones">Adicionar outro</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card form-group">
      <label class="pl-3 pt-3">Endereços </label>
      <div class="card-body" id="addresses-list">
         <div id="addresses">
          <%= f.fields_for :addresses do |addresses| %>
            <%= render 'address_fields', f: addresses %> 
          <% end %>
          <div class="links pt-3">
            <%= link_to_add_association 'Adicionar novo endereço', f, :addresses , class:"btn btn-outline-success", id:"add-addresses"%>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group ">
      <%= f.submit "Conrfirmar solicitação de crédito", class:"btn btn-primary disabled" %>
    </div>
  <%end%>
</div>