<!DOCTYPE html>
<html>
  <head>
    <title>NexoosChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="devise-cont">
      <div class="devise-form ">
        <%= yield %>
      </div>
      <div class="devise-img"></div>
    </div>
  </body>
</html>
